* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(15, 113, 136);
}
.main-container {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  color: white;
  padding: 20px;
}

.container {
  color: rgb(8, 30, 66);
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 80vh;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.status-div {
  border: 1px solid white;
  width: 23%;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgb(244, 237, 237);
}

.tasks {
  height: 65vh;
  overflow-y: scroll;
}

.backlog {
}

.doing {
}

.review {
}

.done {
}

.task {
  margin: 5px;
  border: 1px solid rgb(183, 176, 176);
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 2px 2px lightgray;
  text-align: left;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.title-div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.title-div span {
  color: gray;
}

.description-div {
  font-size: 10px;
  color: gray;
  display: flex;
  justify-content: space-between;
}

.model {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(156, 150, 150);
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-evenly;
  margin: 10px;
  width: 30%;
  height: 30%;
  border-radius: 15px;
}

.model-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.hide {
  display: none;
}

#addBtn {
  width: 90%;
  box-shadow: 0px 0px 2px 2px lightgray;
}

.backlog #addBtn:hover {
  background-color: rgb(240, 154, 167);
}

.doing #addBtn:hover {
  background-color: rgba(243, 243, 113, 0.844);
}

.review #addBtn:hover {
  background-color: lightgreen;
}

.done #addBtn:hover {
  background-color: lightblue;
}
.is-dragging {
  background-color: lightsalmon;
  color: white;
}

input {
  height: 20%;
}

.fa-trash {
  width: 1%;
  height: 1%;
  color: red;
  padding-right: 7px;
}
